<div class="container">
    <mat-accordion >
        <mat-expansion-panel [disabled]="shouldDisable()" 
                             (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">

          <mat-expansion-panel-header class="disable_ripple">
            <mat-panel-title>
                <div class="title">
                    <div *ngIf='files.length; else idle'>
                        <p>Uploading {{files.length}} Files</p>
                    </div>
                </div>
            </mat-panel-title>
            <mat-icon #stopAll (click)="stopAllTasks($event)">close</mat-icon>
          </mat-expansion-panel-header>
          <div *ngFor="let file of files">
            <upload-task [file]="file"></upload-task>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
</div>
<ng-template #idle>
    <p>Uploads</p>
</ng-template>
